.fade-in {
  opacity: 0;
  animation: fadeInAnimation 6s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
    background-image: url('background.jpg');
    background-size: cover; /* Adjusts the size of the background image */
    background-position: center; /* Centers the background image */
    /* Additional styles if needed */
}
---
---

@import "{{ site.theme }}";

header {
  display: none;
}
