.fade-in {
  opacity: 0;
  animation: fadeInAnimation 6s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.typewriter {
  overflow: hidden; /* Ensures the text is not visible initially */
  border-right: .15em solid orange; /* Creates the blinking cursor effect */
  white-space: nowrap; /* Prevents the text from wrapping */
  margin: 0 auto; /* Centers the text horizontally */
  letter-spacing: .15em; /* Adjusts the spacing between characters */
  animation: typing 10s steps(100, end) forwards;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}
